// Global styling for this template

body {
   font-family: 'Lato', sans-serif !important;
   padding-top: 54px;
   font-size: 20px;
   line-height: 1.75;
   color: $gray-600;
 
 }
 
 @media (min-width: 992px) {
   body {
     padding-top: 0;
     padding-left: $sidebar-base-width;
   }
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Montserrat', sans-serif !important;
   font-weight: 700;
   color: $gray-800;
 }
 
 h1 {
   font-size: 6rem;
   line-height: 5.5rem;
 }
 
 h2 {
   font-size: 3.5rem;
 }
 
 h3 {
   font-size: 2rem;
 }
 .sub-content {
   z-index: 99;
 }
 p.lead {
   font-size: 1.15rem;
   font-weight: 400;
 }
 
 .subheading {
   font-weight: 500;
   @include heading-font;
   font-size: 1.5rem;
 }
 
 .main a {
   color: #000;
     text-decoration: none;
     -webkit-box-shadow: 0 2px 0 rgba(188, 65, 35, 0.2);
     box-shadow: 0 2px 0 rgba(188, 65, 35, 0.2);
     font-weight: 400;
     &:hover {
 
       background: rgba(188, 65, 35, 0.1);
         -webkit-box-shadow: 0 2px 0 #bc4123;
         box-shadow: 0 2px 0 #bc4123;
         text-decoration: none;
     }
 }
 
 .social-icons {
   a {
     display: inline-block;
     height: 3.5rem;
     width: 3.5rem;
     background-color: $gray-700;
     color: $white !important;
     border-radius: 100%;
     text-align: center;
     font-size: 1.5rem;
     line-height: 3.5rem;
     margin-right: 1rem;
 
     &:last-child {
       margin-right: 0;
     }
 
     &:hover {
       background-color: $primary;
     }
   }
 }
 
 .dev-icons {
   font-size: 3rem;
 
   .list-inline-item i {
     &:hover {
       color: $primary;
     }
   }
 }
 
 